@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-gray;
}

.header__contact {
  display: flex;
  align-items: center;

  .instagram,
  .email {
    fill: $light-gray;
    cursor: pointer;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.15);
    }
  }

  .instagram {
    height: 25px;
  }

  .email {
    height: 20px;
  }
}
