@import "../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-gray;
  z-index: 999;
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 15%);
}

.header__contact {
  display: flex;
  align-items: center;

  .instagram,
  .email {
    fill: $light-gray;
    cursor: pointer;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.15);
    }
  }

  .instagram {
    height: 25px;
  }

  .email {
    height: 20px;
  }
}
