@import "../../styles/variables.scss";
.toggle__wrapper {
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  width: 26px;
  height: 12px;
  box-shadow: inset 0 0 0 1px $light-gray;
  border-radius: 25px;
  transition: background 0.2s ease-out;
  cursor: pointer;

  &:hover {
    .toggle__button {
      width: 20px;
      border-radius: 20px;
    }
  }
}

.toggle__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -8px;
  height: 18px;
  width: 18px;
  background: $light-gray;
  border-radius: 50%;
  transition: width 0.1s ease-out, transform 0.2s ease-out;
  cursor: pointer;

  &:hover {
    width: 20px;
    border-radius: 20px;
  }
}

.toggle--toggled {
  background: $light-gray;
  & > div {
    transform: translateX(16px);
    right: 8px;
    left: auto;
  }
}
