@import "../../styles/variables.scss";

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $light-gray;
  border-radius: $radius;
}

.pricing-card__price {
  text-align: center;
  animation: price-appear 0.2s ease-out;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.pricing-card__price--disappear {
  text-align: center;
  opacity: 0;
}

.pricing-card__per-hour {
  font-size: 20px;
  font-weight: 500;
}

.pricing-card__name {
  text-align: center;
}

.pricing-card__option {
  display: flex;
  align-items: center;
}

.pricing-card__select {
  height: 39px;
  opacity: 1;
  margin-bottom: $spacing-4;
}

.pricing-card__select--disappear {
  animation: select-disappear 0.7s linear forwards;
}

.pricing-card__select--appear {
  animation: select-appear 0.7s linear forwards;
}

@keyframes select-disappear {
  0% {
    opacity: 1;
    height: 39px;
    margin-bottom: $spacing-4;
  }
  50% {
    opacity: 0;
    height: 39px;
    margin-bottom: $spacing-4;
  }
  100% {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
  }
}

@keyframes select-appear {
  0% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
  }
  50% {
    opacity: 0;
    height: 39px;
    margin-bottom: $spacing-4;
  }
  100% {
    height: 39px;
    opacity: 1;
    margin-bottom: $spacing-4;
  }
}

@keyframes price-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
